.home-cointainer{
    background-color: rgb(253, 253, 253);
    height: 100%;
    width: 100vw;
    padding: 20px;
}
.store-logo{
    height: 26px;
    width: 118px;
}   
.apple-watch-cointainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.apple-watch-content-cointainer{
    margin-top: 20px;
    padding-top: 10px;
}

.designstudio-headline {
    color: #1d1d1f;
}
.apple-watch-discrp{
    color: #1d1d1f;
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 21px;
    font-weight: 400;
    letter-spacing: .011em;
    line-height: 1.381002381;
    padding-bottom: 10px
}
.designstudio-intro-collectionname{
    font-family: SF Pro Display, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 64px;
    font-weight: 600;
    letter-spacing: -.009em;
    line-height: 1.0625;
}
.get-start-btn{
    background-color: #0071e3;
    font-family: SF Pro Text, SF Pro Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: -.022em;
    line-height: 1.1764805882;
    cursor: pointer;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 40px;
    margin-top: 43px;
}

.designstudio-combinedimage{
    max-width: 500px;
    width: 52vh;
    margin: 0 auto;
    position: relative; 
}
.watch-dail{
    position: absolute;
}

.watch-strip{

}